div {
  width: 100vw;
}

p {
  margin: 15px 20px;
  border: solid rgba(126, 126, 126, 0.137) 0.5px;
  padding: 5px 15px;
  border-radius: 3px;
  box-shadow: 0.5px 1px rgba(0, 0, 0, 0.358);
}

button {
  background-color: blue;
  padding: 5px 10px;
  color: white;
  border-color: blue;
  cursor: pointer;
}